<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
  

 <f:event listener="#{loginBean.verificarSessionSocio()}" type="preRenderView"/>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="template/plugins/images/favicon.png" />
	<title>Sistema Bancario</title>
	<!-- Bootstrap Core CSS -->
	<link href="template/bootstrap/dist/css/bootstrap.min.css"
		rel="stylesheet" />
	<!-- Menu CSS -->
	<link
		href="template/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css"
		rel="stylesheet" />
	<!-- animation CSS -->
	<link href="template/css/animate.css" rel="stylesheet" />
	<!-- Custom CSS -->
	<link href="template/css/style.css" rel="stylesheet" />
	<!-- color CSS -->
	<link href="template/css/colors/default.css" id="theme"
		rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


</h:head>

<body class="fix-header">
	<!-- ============================================================== -->
	<!-- Preloader -->
	<!-- ============================================================== -->
	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none"
				stroke-width="2" stroke-miterlimit="10" />
        </svg>
	</div>
	<!-- ============================================================== -->
	<!-- Wrapper -->
	<!-- ============================================================== -->
	<div id="wrapper">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<div class="top-left-part">
					<!-- Logo -->
					<a class="logo" href="./principal.xhtml"> <!-- Logo icon image, you can use font-icon also -->
						<b> <!--This is dark logo icon-->
							<img src="template/plugins/images/admin-logo.png" alt="home"
							class="dark-logo" /> <!--This is light logo icon-->
							<img src="template/plugins/images/admin-logo-dark.png" alt="home"
							class="light-logo" />
					</b> <!-- Logo text image you can use text also -->
						<span class="hidden-xs"> <!--This is dark logo text-->
							<img src="template/plugins/images/admin-text.png" alt="home"
							class="dark-logo" /> <!--This is light logo text-->
							<img src="template/plugins/images/admin-text-dark.png" alt="home"
							class="light-logo" />
					</span>
					</a>
				</div>
				<!-- /Logo -->
				<ul class="nav navbar-top-links navbar-right pull-right">
					<li><a
						class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
						href="#"><i class="fa fa-bars"></i></a>
					</li>
					<li>
						<form role="search" class="app-search hidden-sm hidden-xs m-r-10">
							<input type="text" placeholder="Search..." class="form-control" />
							<a href="template/"><i class="fa fa-search"></i></a>
						</form>
					</li>
					<li><a class="profile-pic" href="#"> <img
							src="template/plugins/images/users/user.jpg" alt="user-img"
							width="36" class="img-circle" /><b class="hidden-xs">Socios</b></a></li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav slimscrollsidebar">
				<div class="sidebar-head">
					<h3>
						<span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
						<span class="hide-menu">Navigation</span>
					</h3>
				</div>
				<ul class="nav" id="side-menu">
					
					<li style="padding: 70px 0 0;"><a
						href="#" class="waves-effect"><i
							aria-hidden="true">Bienvenido </i></a>
					</li>
					
					
						<li><a href="./inicio.xhtml" class="waves-effect"><i
							class="fa fa-table fa-fw" aria-hidden="true"></i>Inicio de Cuenta</a>
					</li>
				
					<li><a href="./ultimo-movimiento.xhtml" class="waves-effect"><i
							class="fa fa-table fa-fw" aria-hidden="true"></i>Fechas Movimientos Bancarios</a>
					</li>
					
					
					<li><a href="./listarCuentaSocio.xhtml" class="waves-effect"><i
							class="fa fa-table fa-fw" aria-hidden="true"></i>Estado Cuenta</a>
					</li>					
					
					<li><a href="./ListarAccesosSesion.xhtml" class="waves-effect"><i
							class="fa fa-table fa-fw" aria-hidden="true"></i>Historial de Inicio de Sesion</a>
					</li>
					
					<li><a href="./amortizacion-credito.xhtml" class="waves-effect"><i
							class="fa fa-table fa-fw" aria-hidden="true"></i>Tabla de Amortización</a>
					</li>
					
				
					
				
				</ul>
				<!-- <div class="center p-20">
                    <a href="template/https://wrappixel.com/templates/ampleadmin/" target="_blank"
                        class="btn btn-danger btn-block waves-effect waves-light">Upgrade to Pro</a>
                </div>-->
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Left Sidebar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page Content -->
		<!-- ============================================================== -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title">
							<ui:insert name="title" />
						</h4>
					</div>
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						
					
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="white-box">
							<h3 class="box-title">
								<ui:insert name="title" />
							</h3>

							<ui:insert name="content">



							</ui:insert>

						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> Aplicaciones Distribuidas 2020 - 2020 </footer>
		</div>
		<!-- ============================================================== -->
		<!-- End Page Content -->
		<!-- ============================================================== -->
	</div>
	<!-- /#wrapper -->
	<!-- jQuery -->
	<script
		src="template/plugins/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="template/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Menu Plugin JavaScript -->
	<script
		src="template/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
	<!--slimscroll JavaScript -->
	<script src="template/js/jquery.slimscroll.js"></script>
	<!--Wave Effects -->
	<script src="template/js/waves.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="template/js/custom.min.js"></script>


</body>

</html>