<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.prime.com.tr/ui">




<ui:composition template="template/template2.xhtml">
	<ui:define name="content">
		<h:form>

              
			<h2 style="font-weight: bold;">Tabla de Amortización de Crédito</h2>
                        
                        
                      

			<h:dataTable id="tblamortizacion"
value="#{creditoBean.tablaAmortizacion(loginBean.listalogin.get(0).socio.cuentaen.idCuenta)}"
				var="amortizacion" class="table">
				<h:column>
					<f:facet name="header"># Cuota</f:facet>
					<h:outputText value="#{amortizacion.idPago}" />

				</h:column>
				<h:column>
					<f:facet name="header">Capital</f:facet>
					<h:outputText value="#{amortizacion.capital}" />

				</h:column>

				<h:column>
					<f:facet name="header">Cuota</f:facet>
					<h:outputText value="#{amortizacion.cuota}" />

				</h:column>
				<h:column>
					<f:facet name="header">Estado</f:facet>
					<h:outputText value="#{amortizacion.estado}" />

				</h:column>

				<h:column>
					<f:facet name="header">Fecha </f:facet>
					<h:outputText value="#{amortizacion.fecha}" />
				</h:column>
				<h:column>
					<f:facet name="header">Interés</f:facet>
					<h:outputText value="#{amortizacion.interes}" />
				</h:column>

				<h:column>
					<f:facet name="header">Saldo</f:facet>
					<h:outputText value="#{amortizacion.saldo}" />
				</h:column>
				
				<h:column>
				<f:facet name="header">Pago Cuotas</f:facet>
					<h:commandButton class="btn btn-primary" value="Pagar"
							actionListener="#{loginBean.setNumeroCuota(amortizacion.idDetalleCredito)}" id="idcuota" action="#{loginBean.redirigirCuota()}">
							  
						</h:commandButton>
				</h:column>
				
			

    <!-- <a href="GenerarCredito.xhtml" class="btn btn-info">Generar Credito</a> -->
                       
      
                            
                            
			</h:dataTable>

			<br />
			<br />
			
			
				
			
                        
                        
                   
                       
                        
		</h:form>
	</ui:define>
</ui:composition>


</html>