<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.prime.com.tr/ui">




<ui:composition template="template/template2.xhtml">
	<ui:define name="content">
		<h:form>

              
			<h2 style="font-weight: bold;">Monto a abonar</h2>
                        
                       
				
			
					<f:facet name="header">Monto de Cuota</f:facet>
					<h:inputText value="#{creditoBean.monto}" />

				

				
					<f:facet name="header">Pagar</f:facet>
					<h:commandButton class="btn btn-primary" value="Pagar"
							action="#{creditoBean.abonar(loginBean.listalogin.get(0).socio.cuentaen.idCuenta)}" id="idcuota" >
							  
						</h:commandButton>

			
                         
                            
			

			<br />
			<br />
			
                 
                        
		</h:form>
	</ui:define>
</ui:composition>


</html>