<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui">
        




<ui:composition template="template/template.xhtml">
	<ui:define name="content">
            
		<h:form  enctype="multipart/form-data">

                    <p:growl  showDetail="ture"/>
                    
                    <h:head>
                        <f:metadata>
                            <f:viewParam name="idCuenta" value="#{cuentaBean.idCuenta}">
                            </f:viewParam> 
                        </f:metadata>
                        
                    </h:head>
                   
                    <!--
                    <h:dataTable value="#{cuentaBean.listaCuenta}" var="cuenta"
				class="table">

				<h:column>
					<f:facet name="header">Id Cuenta</f:facet>
                        #{cuenta.idCuenta}
           
                </h:column>
                    </h:dataTable>
                  -->

			<h2 style="font-weight: bold;">Solicitud de Cretido</h2>
			<br />
			<br />

                        
                        <div class="form-group">
                            <label class="col-md-12"> Numero Cuenta :</label>
                            <div class="col-md-12">
                                <h:inputText id="cuenta" value="#{cuentaBean.newCuenta.idCuenta}"

                                             readonly="true" />
                            </div>
                        </div>
                        #{creditoBean.newCredito.setCuentaen(cuentaBean.newCuenta)}
                        
                      
		
                        <div class="form-group">
                            <label class="col-md-12"><strong>Tipo de Credito</strong></label>
                            <div class="col-md-12">
                              <!--  <h:inputText class="form-control" value="#{creditoBean.newCredito.tipoCredito}" /> -->
                                
                                <select id="creditos" name="creditos">
                                    <option value="" selected="selected">- Selecciona -</option>
                                    
                                    #{creditoBean.newCredito.setTipoCredito("Hipotecario")}
                                    <option value="#{creditoBean.newCredito.tipoCredito}">Hipotecario</option>
                                </select>
                                
                                
                                
                                
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-md-12"><strong>Sistema de Amortizacion</strong></label>
                            <div class="col-md-12">
                                <h:inputText  class="form-control" value="Sistema Frances"  readonly="true"/>
                                #{creditoBean.newCredito.setSistemaAmortizacion("Sistema Frances")}
                            </div>
                        </div> 
                        
                         <div class="form-group">
                            <label class="col-md-12"><strong>Fecha de Desembolso:</strong></label>
                            <div class="col-md-12">
                                <h:inputText  class="form-control" value="#{creditoBean.newCredito.setFechaDesenbolso(creditoBean.fecha)} #{creditoBean.newCredito.fechaDesenbolso}" 
                                              readonly="true"/>
                            </div>
                        </div> 
                        
                         <div class="form-group">
                             <label class="col-md-12"><strong>Valor del Credito:</strong></label>
                            <div class="col-md-12">
                                <h:inputText  class="form-control" value="#{creditoBean.newCredito.valorCredito}"/>
                            </div>
                        </div> 
                        
                         <div class="form-group">
                            <label class="col-md-12"><strong>Periodo</strong></label>
                            <div class="col-md-12">
                                <h:inputText  class="form-control" value="mensual"  readonly="true"/>
                                #{creditoBean.newCredito.setPeriodo("Mensual")}
                            </div>
                        </div> 
                        
                        
                         <div class="form-group">
                            <label class="col-md-12"><strong>Interes</strong></label>
                            <div class="col-md-12">
                                <h:inputText  class="form-control" value="1.25"  readonly="true"/>
                                #{creditoBean.newCredito.setInteres(1.25)}
                            </div>
                        </div> 
                        
                        
                        
                         <div class="form-group">
                            <label class="col-md-12"><strong>Ingrese el Plazo en meses:</strong></label>
                            <div class="col-md-12">
                                <h:inputText  class="form-control" value="#{creditoBean.newCredito.plazoMeses}"/>
                            </div>
                        </div> 
                        
                        
                        
                        <div class="form-group">
                            <label class="col-md-12"><strong>Cedula:</strong></label>
                            <div class="col-md-12">
                                <p:fileUpload  class="btn btn-linkedin" value="#{creditoBean.file}" mode="simple"/>
                            
                            </div>
                        </div> 
                    
                        <br/>
                        <br/>
                          <br/>
                        <br/>
                          <br/>
                        <br/>
                    
                        <div class="form-group">
                            <label class="col-md-12"><strong>Ingrese el Respaldo de la Planilla Servicios Basicos:</strong></label>
                            <div class="col-md-12">
                                <p:fileUpload  class="btn btn-linkedin" value="#{creditoBean.fileSRVBasicos}" mode="simple"/>
                            </div>
                        </div> 
                        
                         <br/>
                        <br/>
                          <br/>
                        <br/>
                        
                        <div class="form-group">
                            <label class="col-md-12"><strong>Ingrese el Respaldo del Rol de Pagos:</strong></label>
                            <div class="col-md-12">
                                <p:fileUpload  class="btn btn-linkedin" value="#{creditoBean.fileSRVRolPagos}" mode="simple"/>
                            </div>
                        </div>     
                        <br/>
                        <br/>
                          <br/>

                          
                           
                            
                             <br/>
                        <br/>
                          <br/>
                          
                          
                    
                          
                          <h:commandButton  id ="btnGenerar" action="#{creditoBean.guardarCredito()}"
                                                     value=" 1. Guardar Credito"  onclick="alert('Credito Generado');"
                                class="btn btn-success">
                                 
                                   
                                      #{movimientoBean.depositar(cuentaBean.newCuenta.idCuenta,creditoBean.newCredito.valorCredito)}
                                    
                                      
                                 </h:commandButton>
                               
                   
                   
                        
                          <br/>
                        <br/>
                          <br/>
                          
                          
                         
                                   
                                     
                           
     
                        
		</h:form>
	</ui:define>
</ui:composition>


</html>