<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="template/template.xhtml">

	<ui:define name="title" />
	<h1>
		<b>Crear Deposito</b>
	</h1>

	<ui:define name="content">



		<h:head>
			<f:metadata>
				<f:viewParam name="idCuenta" value="#{cuentaBean.idCuenta}"></f:viewParam>

			</f:metadata>
		</h:head>



		<h:body>
			<h1>
				<b>Crear Deposito</b>
			</h1>




		</h:body>


		<h:form class="form-horizontal form-material">

			<div class="form-group">
				<label class="col-md-12">Cedula del Socio:</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.newCuenta.socio.cedulaSocio}"
						readonly="true" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12">Nombre:</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.newCuenta.socio.nombresSocio}"
						readonly="true" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12">Apellido:</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.newCuenta.socio.apelidosSocio}"
						readonly="true" />
				</div>
			</div>


			<div class="form-group">
				<label class="col-md-12">ID Cuenta:</label>
				<div class="col-md-12">
					<h:inputText id="cuenta" value="#{cuentaBean.newCuenta.idCuenta}"
						readonly="true" />
				</div>
			</div>
           #{movimientoBean.newMovimiento.setCuenta(cuentaBean.newCuenta)}
               
           
              <div class="form-group">
				<label class="col-md-12"> Fecha de Movimiento:</label>
				<div class="col-md-12">
					<input
						value="#{movimientoBean.newMovimiento.setFechaMovimiento(movimientoBean.fecha)} #{movimientoBean.newMovimiento.fechaMovimiento}"
						readonly="true"></input>
				</div>
			</div>



			<!--   Fecha de Movimiento <input  value="#{movimientoBean.newMovimiento.setFechaMovimiento(movimientoBean.fecha)} #{movimientoBean.newMovimiento.fechaMovimiento}" readonly="true"  ></input> <br/>    -->

			<div class="form-group">
				<label class="col-md-12"> Tipo de Movimiento :</label>
				<div class="col-md-12">
					<h:inputText value="Deposito" readonly="true" />
				</div>
			</div>


			<!--  Tipo de Movimiento :<h:inputText   value="Deposito" /> <br/> -->
           #{movimientoBean.newMovimiento.setTipoMovimiento("Deposito")}
           
              <div class="form-group">
				<label class="col-md-12"> Cantidad:</label>
				<div class="col-md-12">
					<h:inputText id="cantidad"
						value="#{movimientoBean.newMovimiento.cantidad}" />
				</div>
			</div>


			<!--  Cantidad :<h:inputText  id="cantidad" value="#{movimientoBean.newMovimiento.cantidad}"/> <br/>-->




			<br />
			<br />




			<h:commandButton action="#{movimientoBean.guardarMovimiento()}"
				value="Depositar en Cuenta" onclick="alert('Deposito Guardado');"
				class="btn btn-info" />
            
            #{movimientoBean.depositar(cuentaBean.newCuenta.idCuenta, movimientoBean.newMovimiento.cantidad)}
        
            
            <h:commandButton
				action="#{movimientoBean.redirigeListarCuentas()}"
				value="Regresar al menu Cuenta" class="btn btn-github" />

		</h:form>



	</ui:define>


</ui:composition>



</html>